<div class="video-player">
  <h3>{{ video.title }}</h3>

  <div class="player">
    <ng-container *ngIf="(video.url || '').includes('youtube') || (video.url || '').includes('youtu.be'); else nativeVideo">
      <iframe width="560" height="315" [src]="(video.url || '') | safeUrl" frameborder="0" allowfullscreen></iframe>
    </ng-container>
    <ng-template #nativeVideo>
      <video width="560" height="315" controls [src]="video.url || ''"></video>
    </ng-template>
  </div>

  <p>{{ video.description }}</p>

  <hr />

  <h4>Comentarios</h4>
  <div *ngIf="comments.length === 0">No hay comentarios aún.</div>
  <div *ngFor="let c of comments" class="comment">
    <div class="meta"><strong>{{ c.author }}</strong> • {{ c.posted_timestamp | date:'short' }}</div>
    <div>{{ c.content }}</div>
  </div>

  <div class="new-comment">
    <input [(ngModel)]="newAuthor" placeholder="Tu nombre" />
    <textarea [(ngModel)]="newContent" placeholder="Tu comentario"></textarea>
    <button (click)="postComment()">Enviar</button>
  </div>
</div>
